# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Entornos virtuales
.venv/
venv/
env/

# Editores
.vscode/
.idea/
*.swp

# Sistema operativo
.DS_Store
Thumbs.db

# Logs y temporales
*.log
*.bak
*.orig
*~
